html, body {  
      background-color: #214cce;  
        font-family: Arial, sans-serif;   
          margin: 0;  
          }  

          .container {  
            width: 80%;  
              margin: 20px auto;  
                padding: 15px;  
                  border: 1px solid #ccc;  
                  }  

                  #FG PLAY {  
                    color: #214cce;  
                      font-size: 24px;  
                      }  

                      p {  
                        line-height: 1.6;  
                        }
                        .produto-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* Media query para telas menores */
@media screen and (max-width: 768px) {
  .produto-container {
    width: 100%;
    flex-direction: column;
  }
}
body {
  color: white;
}
