html, body {
  background-color: #214cce;
  font-family: Arial, sans-serif;
  margin: 0;
  color: white;
}

.container {
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ccc;
}

/* ID corrigido (sem espaço) */
#fg-play {
  color: #214cce;
  font-size: 24px;
}

p {
  line-height: 1.6;
}

.produto-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* Media query para telas menores */
@media screen and (max-width: 768px) {
  .colaborador img {
    width: 30%;
  }
}
.classificacao {
  font-size: 16px;
  color: #00FF00;
  margin: 10px 0;
}
