* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  min-height: 100vh;
}
html, body {
  width: 100%;
  height: 100%;
  background-color: #214cce;
  font-family: Arial, sans-serif;
}

body {
  color: #ffffff; /* texto branco */
}

.container {
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ccc;
}

#fg-play {
  font-size: 24px;
}

p {
  line-height: 1.6;
}
